adafruit-circuitpython-ssd1306==2.12.22
adafruit-blinka==8.66.2
adafruit-circuitpython-dht==4.0.10
dotenv~=0.9.9
numpy==2.4.1
pigpio~=1.78
pillow==12.1.0
psutil~=7.0.0
pytest~=8.4.1
python-dotenv~=1.1.1
RPi.gpio~=0.7.1
setuptools~=80.9.0
smbus3~=0.5.5
spidev==3.8
tb-mqtt-client==1.13.9
tb-paho-mqtt-client==2.1.2