[Unit]
Description=Trive Aquasense
After=network.target

[Service]
User=pi
WorkingDirectory=/opt/trive_aquasense
ExecStart=/opt/trive_aquasense/venv/bin/python -m monitoring_service.main
EnvironmentFile=/etc/trive_aquasense/.env
Restart=always
RestartSec=5
LogsDirectory=trive_aquasense

[Install]
WantedBy=multi-user.target
